<footer class="footer">
    <div class="container-fluid px-lg-5">
      <div class="row">
        <div class="col-md-9 py-5">
          <div class="row">
            <div class="col-md-4 mb-md-0 mb-4">
              <h2 class="footer-heading">CONTACTO</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block"><span class="fa fa-phone" style="color:white"></span>  (021)379 8300</a></li>
                <li><a href="#" class="py-1 d-block"><span class="fa fa-home" style="color:white"></span>  Azara, 1249, Asunción, Paraguay</a></li>
              </ul>
            </div>
            <div class="col-md-8">
              <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4">
                      <h2 class="footer-heading">Maps</h2>
                      <div id="mapa" class="block-25">
                        <iframe height="150px" width="480px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.280885984416!2d-57.635203284452174!3d-25.29476528385089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945da7fcb6011d29%3A0x3b5e39be0c693d98!2sSanatorio+Britanico!5e0!3m2!1ses-419!2ses!4v1506026314193"></iframe>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-md-5">
            <div class="col-md-12">
              <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> Derechos Reservados | Desarrollo web hecho por <a target="_blank">Luis Fleitas</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 py-md-5 py-4 aside-stretch-right pl-lg-5">
          <h2 class="footer-heading">Empresas asociadas</h2>
          <div id="empresasAsociadas" class="text-center" 
          style="padding: 5px 5px 5px 5px;">
          <a href="#" class="p-2 pl-0"><img style="padding: 5px 5px 5px 5px; border: 3px 3px 3px 3px; width: 120px;" 
            src="./assets/images/logo_britanico.svg"/></a>
          <a href="#" class="p-2 pl-0"><img style="padding: 5px 5px 5px 5px; border: 3px 3px 3px 3px; width: 120px;" 
            src="./assets/images/logo_britanico_san_lorenzo_blanco.svg"/></a>
          <a href="#" class="p-2 pl-0"><img style="padding: 5px 5px 5px 5px; border: 3px 3px 3px 3px; width: 120px;" 
            src="./assets/images/reyva_logo_blanco.svg"/></a>
          <a href="#" class="p-2 pl-0"><img style="padding: 5px 5px 5px 5px; border: 3px 3px 3px 3px; width: 120px;" 
            src="./assets/images/meprotec_logo_blanco.svg"/></a>
          </div>
        </div>
      </div>
    </div>
  </footer>