<div class="hero-wrap">
  <div class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(./assets/images/sanatorio/sanatorio1.jpg);">
    </div>
    <div class="slider-item" style="background-image:url(./assets/images/sanatorio/sanatorio3.jpg);">
    </div>
    <div class="slider-item" style="background-image:url(./assets/images/sanatorio/sanatorio4.jpg);">
    </div>
    <div class="slider-item" style="background-image:url(./assets/images/sanatorio/sanatorio5.jpg);">
    </div>
    <div class="slider-item" style="background-image:url(./assets/images/sanatorio/sanatorio6.jpg);">
    </div>
    </div>
  </div>
  
  <section class="intro py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="intro-box w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center" style="background-color: #A93226;">
              <span class="fa fa-phone" style="color:white; font-size: 30px;"></span>
            </div>
            <div class="text pl-3">
              <h4 class="mb-0">Llamada de emergencia</h4>
              <span>(021)379 8000</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="intro-box w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-user" style="font-size: 30px;"></span>
            </div>
            <div class="text pl-3">
              <h4 class="mb-0">RESERVA DE TURNO</h4>
              <p class="mb-0"><a href="#" class="btn btn-secondary">IR A MI PERFIL</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="intro-box w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center" style="background-color: #154360;">
              <span class="fa fa-id-card-o" style="color:white; font-size: 30px;"></span>
            </div>
            <div class="text pl-3">
              <h4 class="mb-0">PROFESIONALES MÉDICOS</h4>
              <p class="mb-0"><a href="#" class="btn btn-primary">VER</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>	
  </section>

  <section class="ftco-section bg-secondary">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 style="color: white;">Informaciones</h2>
        </div>
      </div>
      <div class="row d-flex no-gutters">
        <div class="col-md-6 d-flex">
          <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end mb-4 mb-sm-0" style="background-image:url(./assets/images/slide/slide7.svg);">
            <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center" style="background-color: #A93226;">
              <span class="fa fa-play"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6 pl-md-5 py-md-5">
          <br>
          <div class="services-2 w-100 d-flex">
            <div class="icon d-flex align-items-center justify-content-center" style="background-color: #A93226;"><span class="flaticon-event" style="color:white;"></span></div>
            <div class="text pl-4">
              <h4 style="color:white;">Texto informativo</h4>
              <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
              <p style="color:white;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex no-gutters">
        <div class="col-md-6 pl-md-5 py-md-5">
          <br>
          <div class="services-2 w-100 d-flex">
            <div class="text pl-4">
              <h4><span>Nosotros</span></h4>
              <p>El Sanatorio Británico S.A. hereda los servicios del centro médico Santa Clara e inicia sus actividades a mediados del año 2014, permaneciendo abierto para todo público y brindando así una cobertura a las más altas exigencias de los pacientes privados como de entidades de medicina pre-paga, lo cual lo convierte en uno de los más avanzados centros médicos de alta complejidad de nuestro país.</p>
              <p><a href="#" class="btn btn-primary">Leer mas</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-end mb-4 mb-sm-0" style="background-image:url(./assets/images/doctores.png);">
           
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-secondary">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2 style="color: white">SERVICIOS</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/cardiologia.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Centro Cardiológico </h3>
              <p>El Servicio de Cardiología del Sanatorio Británico reúne recursos con tecnología de punta, especialistas con amplia experiencia y reconocida trayectoria para alcanzar los más altos estándares de calid...</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>

        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/fisioterapia.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Fisioterapia & Rehabilitación</h3>
              <p>Apoyados en la experiencia de profesionales altamente capacitados y en un lugar equipado especialmente para el efecto, incluyendo las especialidades de kinesioterapia como: ultra-sonidos, ondas cortas...</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>
        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/urgencias.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Urgencias </h3>
              <p>Se cuenta con un servicio de guardia médica pediátrica las 24 horas, consultorios con boxes separados que permiten realizar tratamientos ambulatorios y salas de internación individuales.</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/dermatologia.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Dermatología</h3>
              <p>Contamos con un equipo especialista en dermatología, para el diagnóstico y tratamiento de todo tipo de enfermedades dermatológicas relacionadas con la piel. La atención personalizada, el estudio detal...</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>

        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/pediatria.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Centro Pediátrico</h3>
              <p>El trabajo en equipo es el alma y principal fortaleza de la nueva iniciativa del Sanatorio Británico. Esto lo convierte en un Centro integral de Especialidades Pediátricas.</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>
        <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">
          <div class="d-block text-center">
            <div class="icon d-flex justify-content-center align-items-center" style="background-color: white;">
              <img style="width: 50px;" 
                src="assets/images/diagnostico.svg"/>
            </div>
            <div class="media-body p-2 mt-3">
              <h3 class="heading" style="color: white;">Centro de Diagnótico</h3>
              <p>El servicio de Diagnóstico por Imágenes en las áreas de resonancia, tomografía y radiología del Sanatorio Británico cuenta con una basta experiencia y equipamientos de última generación para garantiza...</p>
              <a href="index.html" style="color: white;">Ver más</a>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>
   

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2>TECNOLOGÍA Y EQUIPAMIENTO</h2>
          <span class="subheading">Contamos con remodeladas y modernas instalaciones, así como también equipamiento de última tecnología para satisfacer las necesidades de todos nuestros asegurados.</span>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('CARDIOLOGIA')" class="block-20 rounded" style="background-image: url('./assets/images/index/cardiologia_1.png');">
            </a>
            <div class="text mt-3">
              <h3>Cardiología</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('QUIROFANO')" class="block-20 rounded" style="background-image: url('./assets/images/index/quirofano_1.png');">
            </a>
            <div class="text mt-3">
              <h3>Quirófano</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('CENTRO DE DIAGNOSTICO')" class="block-20 rounded" style="background-image: url('./assets/images/index/centro_diagnostico_1.jpg');">
            </a>
            <div class="text mt-3">
              <h3>Centro de Diagnóstico</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('INTERNACION')" class="block-20 rounded" style="background-image: url('./assets/images/index/internacion_1.jpg');">
            </a>
            <div class="text mt-3">
              <h3>Internación</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('EL SANATORIO')" class="block-20 rounded" style="background-image: url('./assets/images/index/el_sanatorio_1.jpg');">
            </a>
            <div class="text mt-3">
              <h3>El Sanatorio</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a (click)="openModal('CENTRO PEDIATRICO')" class="block-20 rounded" style="background-image: url('./assets/images/index/centro_pediatrico_1.jpg');">
            </a>
            <div class="text mt-3">
              <h3>Centro Pediátrico</h3>
              <p class="heading">Haga click sobre la imagen de arriba para ver los slides</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true" style="margin: 0; padding: 0;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="margin: 0; padding: 0; width: auto; height: 400px;">
      <div class="modal-header">
        <h2 id="imageModalLabel" style="color: #154360;">Título</h2>
        <button type="button" class="btn btn-danger" (click)="closeModal()" aria-label="Close"> X </button>
     </div>
      <div class="modal-body" style="margin: 0; padding: 0;">
        <div id="#owl-carousel-secundario" class="home-slider owl-carousel mi-carrusel-unico">
          <div class="item">
            <img [src]="slideImages[0]" alt="Image 1">
          </div>
          <div class="item">
            <img [src]="slideImages[1]" alt="Image 2">
          </div>
          <div class="item">
            <img [src]="slideImages[2]" alt="Image 3">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
