<div class="wrap">
    <div class="container">
      <div class="row justify-content-between">
          <div class="col">
            <p class="mb-0 phone"><span class="fa fa-phone" style="font-size: 15px;color: #154360;"></span> <a style="font-size: 15px;color:#154360">(021) 379 8000</a></p>
          </div>
          <div class="col d-flex justify-content-end">
            <div class="social-media">
              <p class="mb-0 d-flex">
                <a href="https://www.facebook.com/SanatorioBritanicoPy" class="d-flex align-items-center justify-content-center" ><span class="fa fa-facebook" ><i class="sr-only">Facebook</i></span></a>
                <a href="https://www.instagram.com/sanatoriobritanico_py/" class="d-flex align-items-center justify-content-center" ><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                <a href="#" class="d-flex align-items-center justify-content-center" ><span class="fa fa-twitter"><i class="sr-only" >Twitter</i></span></a>
                <a href="#" class="d-flex align-items-center justify-content-center" ><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="active"><img style="padding: 0 0 0 0; border: 0 0 0 0; width: 150px;" 
        src="./assets/images/logo_britanico_ok.svg"/></a>
      <form action="#" class="searchform order-sm-start order-lg-last">
        <div class="form-group d-flex">
          <input type="text" class="form-control pl-3" placeholder="Search">
          <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
        </div>
      </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active"><a [routerLink]="['']" routerLinkActive="active" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">Institucional</a></li>
          <li class="nav-item"><a href="services.html" class="nav-link">Pacientes</a></li>
          <li class="nav-item"><a href="success-stories.html" class="nav-link">Servicios</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Trabaja con nosotros</a></li>
        </ul>
      </div>
    </div>
  </nav>

  
  